In [ ]:
import pandas as pd
import numpy as np
data={
    'Name':['A', 'B', 'C', 'D', 'A'],
    'Age':[19,20,18,np.nan,19],
    'Salary':[20000, 44500, np.nan, 80000, 20000]
}
df=pd.DataFrame(data)
print(df)

  Name   Age   Salary
0    A  19.0  20000.0
1    B  20.0  44500.0
2    C  18.0      NaN
3    D   NaN  80000.0
4    A  19.0  20000.0

In [ ]:
dups = df[df.duplicated()]
print(dups)

  Name   Age   Salary
4    A  19.0  20000.0

In [ ]:
df = df.drop_duplicates()
print(df)

  Name   Age   Salary
0    A  19.0  20000.0
1    B  20.0  44500.0
2    C  18.0      NaN
3    D   NaN  80000.0

In [ ]:
df[['Age', 'Salary']] = df[['Age', 'Salary']].fillna(df[['Age', 'Salary']].mean())
print(df)

  Name   Age        Salary
0    A  19.0  20000.000000
1    B  20.0  44500.000000
2    C  18.0  48166.666667
3    D  19.0  80000.000000

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols = ['Age', 'Salary']

df[cols] = scaler.fit_transform(df[cols])
print(df)

  Name  Age    Salary
0    A  0.5  0.000000
1    B  1.0  0.408333
2    C  0.0  0.469444
3    D  0.5  1.000000

In [ ]:
df = pd.read_excel('/content/sample_data/SY Data.xlsx')
print(df)

    Subject Registration Report Unnamed: 1                Unnamed: 2  \
0                         Sr No     PRN No              Student Name
1                             1  124B1B034   TALREJA TANMAY DEVANAND
2                             2  124B1B067     KURSANGE YASH SANTOSH
3                             3  124B1B174     ZAREKAR SIDDHI KISHOR
4                             4  124B1B080      MEHUL SRINIVAS PYATI
..                          ...        ...                       ...
896                          53  124B1G082    RAJPUT SOHAM INDRASING
897                          54  124B1G071      MALUSARE NILAY UTTAM
898                          55  124B1G120          GUNJAL ANUJ ANIL
899                          56  124B1G141        BHOSALE YASH VIJAY
900                          57  124B1G135  WAGHMARE ADITYA RAMKISAN

    Unnamed: 3     Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7   Unnamed: 8  \
0         Year  Academic Year   Semester    Pattern   Division  Course Code
1           SY        2025-26          1       2023          A    BSH23OE06
2           SY        2025-26          1       2023          A    BSH23OE06
3           SY        2025-26          1       2023          C    BSH23OE06
4           SY        2025-26          1       2023          B    BSH23OE06
..         ...            ...        ...        ...        ...          ...
896         SY        2025-26          1        NaN          B    BCE23OE01
897         SY        2025-26          1        NaN          B    BCE23OE01
898         SY        2025-26          1        NaN          C    BCE23OE01
899         SY        2025-26          1        NaN          C    BCE23OE01
900         SY        2025-26          1        NaN          C    BCE23OE01

                                            Unnamed: 9 Unnamed: 10
0                                          Course Name      Gender
1    Open Elective : Neural Network and Fuzzy Logic...        Male
2    Open Elective : Neural Network and Fuzzy Logic...        Male
3    Open Elective : Neural Network and Fuzzy Logic...      Female
4    Open Elective : Neural Network and Fuzzy Logic...        Male
..                                                 ...         ...
896  Open Elective : Fundamentals of Database Manag...        Male
897  Open Elective : Fundamentals of Database Manag...        Male
898  Open Elective : Fundamentals of Database Manag...        Male
899  Open Elective : Fundamentals of Database Manag...        Male
900  Open Elective : Fundamentals of Database Manag...        Male

[901 rows x 11 columns]

FileNotFoundError: [Errno 2] No such file or directory: '/content/sample_data/SY Data.xlsx'